# General ignore rules
.deps/
.libs/
*~
*.bak
.*.sw?
*.o
*.lo
*.la
/tags
/*.orig
/*.rej
/*.tab.c
/.dirstamp
*.gir
*.typelib
*.gschema.valid
ChangeLog
*.gcno
*.gcda
glib-lcov.info
glib-lcov/

# Files created by the build tools
Makefile
Makefile.in
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/TAGS
/_libs
/config.cache
/config.h
/config.h.in
/aclocal.m4
/ar-lib
/ltmain.sh
/autom4te.cache/
/m4/
/missing
/stamp-h1
/config.guess
/config.log
/config.rpath
/config.lt
/config.status
/config.sub
/config.status.lineno
/configure
/depcomp
/install-sh
/configure.lineno
/libtool
/compile
/so_locations

# Testing related files
/test-driver
/tests/*-test
/tests/*-test.log
/tests/*-test.trs
/swe-glib-lcov*
test-suite.log
*.gcno
*.gcda
*.gcov

# Translation related files
/ABOUT-NLS
/po/POTFILES
/po/Makevars.template
/po/Makefile.in.in
/po/stamp-it
/po/*.gmo
/po/*.mo
/po/*.pot
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/po/.intltool-merge-cache
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in

# SWE-GLib related files
/src/gswe-enumtypes.c
/src/gswe-enumtypes.h
/src/gswetest
/data/swe-glib.pc
/data/swe-glib.spec
/src/*.vapi
/src/gswe-version.h
/data/*.gschema.xml

# Documentation related files
/docs/reference/*/*.args
/docs/reference/*/*.hierarchy
/docs/reference/*/*.interfaces
/docs/reference/*/*.prerequisites
/docs/reference/*/*.signals
/docs/reference/*/*.stamp
/docs/reference/*/*.types
/docs/reference/*/*-decl-list.txt
/docs/reference/*/*-decl.txt
/docs/reference/*/*-overrides.txt
/docs/reference/*/*-undeclared.txt
/docs/reference/*/version.xml
/docs/reference/*/*-undocumented.txt
/docs/reference/*/*-unused.txt
/docs/reference/*/xml/
/docs/reference/*/html/
/gtk-doc.make
